html,
body,
.panel {
  height: 100%; /* needed for proper layout */
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  
  font-family: 'Segoe UI', Tahoma, 'Helvetica Neue', 'Lucida Grande', Roboto, Ubuntu, Arial, sans-serif;
  font-size: 12px;
  color: #222;

  /**
   * Vars and CSS lifted from devtools sources:
   * 
   *     https://github.com/ChromeDevTools/devtools-frontend/blob/master/front_end/ui/inspectorStyle.css
   *     https://github.com/ChromeDevTools/devtools-frontend/blob/master/front_end/ui/filter.css
   */

  --toolbar-bg-color: #f3f3f3;
  --divider-color: #d0d0d0;
  --accent-color: #1a73e8;
  --divider-border: 1px solid var(--divider-color);
  --focus-ring-active-shadow: 0 0 0 1px var(--accent-color);
  --focus-ring-inactive-shadow: 0 0 0 1px #e0e0e0;
}

.panel {
  display: flex;
  flex-direction: column;
}

.panel--header {
  flex: 0 0 auto;
  background-color: var(--toolbar-bg-color);
  border-bottom: var(--divider-border);
}

.panel--content {
  flex: 1 1 auto;
  position: relative; /* need this to position inner content */
  overflow-y: auto;
}

/*

TODO add filter input

.filter-input-field {
    margin: 0 3px;
    padding-left: 3px;
    width: 163px;
    height: 18px;
    line-height: 20px;
    display: inline-block;
    background: #FFF;
    overflow: hidden;
    white-space: nowrap;
    cursor: auto;
}

.filter-input-field:hover {
    box-shadow: var(--focus-ring-inactive-shadow);
}

.filter-input-field:focus,
.filter-input-field:not(:empty) {
    box-shadow: var(--focus-ring-active-shadow);
}
*/