html,
body,
.panel {
  height: 100%; /* needed for proper layout */
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  
  font-family: 'Segoe UI', Tahoma, 'Helvetica Neue', 'Lucida Grande', Roboto, Ubuntu, Arial, sans-serif;
  font-size: 12px;
  color: #222;

  /**
   * Vars and CSS lifted from devtools sources:
   * 
   *     https://github.com/ChromeDevTools/devtools-frontend/blob/master/front_end/ui/inspectorStyle.css
   *     https://github.com/ChromeDevTools/devtools-frontend/blob/master/front_end/ui/filter.css
   */

  --toolbar-bg-color: #f3f3f3;
  --divider-color: #d0d0d0;
  --accent-color: #1a73e8;
  --divider-border: 1px solid var(--divider-color);
  --focus-ring-active-shadow: 0 0 0 1px var(--accent-color);
  --focus-ring-inactive-shadow: 0 0 0 1px #e0e0e0;
}

.panel {
  display: flex;
  flex-direction: column;
}

.panel--header {
  flex: 0 0 auto;
  background-color: var(--toolbar-bg-color);
  border-bottom: var(--divider-border);
}

.panel--content {
  flex: 1 1 auto;
  position: relative; /* need this to position inner content */
  overflow-y: auto;
}

[class^="icon-"] {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.icon-spinner {
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid' class='lds-rolling' style='background:0 0'%3E%3Ccircle cx='50' cy='50' fill='none' stroke='%23757ed1' stroke-width='15' r='40' stroke-dasharray='188.49555921538757 64.83185307179586' transform='rotate(275.327 50 50)'%3E%3CanimateTransform attributeName='transform' type='rotate' calcMode='linear' values='0 50 50;360 50 50' keyTimes='0;1' dur='0.5s' begin='0s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/svg%3E");
}

/*

TODO add filter input

.filter-input-field {
    margin: 0 3px;
    padding-left: 3px;
    width: 163px;
    height: 18px;
    line-height: 20px;
    display: inline-block;
    background: #FFF;
    overflow: hidden;
    white-space: nowrap;
    cursor: auto;
}

.filter-input-field:hover {
    box-shadow: var(--focus-ring-inactive-shadow);
}

.filter-input-field:focus,
.filter-input-field:not(:empty) {
    box-shadow: var(--focus-ring-active-shadow);
}
*/